{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "no-void": 0
  }
}
